body{
    background-color: black;
}
#main{
     background-color: black;
     display: grid;
     row-gap: 8px;
     column-gap: 8px; 
     grid-template-rows: 100px 50px 100px 100px 100px 100px 100px 25px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px  100px 100px 100px;
     padding-top: 10px;
     padding-right: 10px;
     height: 720px;
}
#in2{
     background-color: rgba(27, 27, 27, 0.658);
     grid-column: 1/20;
     grid-row: 1/26;
     padding-left: 20px ;
     padding-right: 20px;
     padding-top: 20px;
     height: 755px;
     width: 1525px;
     margin-left: 5px;
     border-radius: 20px;
}
#btnl1{
    border-radius: 20px;
    font-weight: 500;
}
#btnl2{
    border-radius: 20px;
    font-weight: 500;
}
.textleft{
    color: rgb(240, 248, 255, 0.6);
}
#flex{
    display: flex;
}
#flex2{
    display: flex;
    justify-content: space-between;
}
#code{
    padding-left: 10px;
    font-size: 50px;
    color: aliceblue;
}
#lightbtn{
    border-radius: 20px;
}
#darkbtn{
    background-color: black;
    border-radius: 20px;
}
#buttons{
    font-size: 35px;
    color: aliceblue;
}
#recent{
    color: aliceblue;
}
.card{
    color: aliceblue;
    background-color: rgb(32, 32, 32);
    border-color: aliceblue;
    border-top: 16px solid goldenrod;
    animation: spin 6s linear infinite;
    border-style: none;
    border-radius: 20px;
    
}
.card:hover{
    background-color: rgb(36, 36, 36);
    box-shadow: 1px 1px 10px 1px rgba(255, 255, 255, 0.337);
}
#textcard{
    color: rgb(240, 248, 255, 0.6);
}
#trending{
    color: aliceblue;
}
#personbtn{
    font-size: 30px;
    background-color: rgb(214, 215, 216 , 0);
    border-style: none;
    border-radius: 40px;
}
#personbtn:hover{
    background-color: rgb(32, 31, 31);
}
#pricing{
    color: green;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
#payment{
    color: rgba(0, 84, 0, 0.699);
}
#spotifyicon{
    color: rgb(0, 187, 0);
}