body{
    background-color: black;
}
#main{
     background-color: black;
     display: grid;
     row-gap: 8px;
     column-gap: 8px; 
     grid-template-rows: 100px 50px 100px 100px 100px 100px 100px 25px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px  100px 100px 100px;
     padding-top: 10px;
     padding-right: 10px;
     padding-left: 5px;
     height: 800px;
}
#in1{
     background-color: rgba(27, 27, 27, 0.658);
     grid-column: 1/5;
     grid-row: 1/3;
     border-radius: 20px;
     color: aliceblue;
     font-size: 25px;
     padding-top: 25px;
     padding-left: 20px;
     padding-right: 25px;
     position: fixed;
     width: 408px;
     height: 158px;
     left: 7px;
}
#in2{
     background-color: rgba(27, 27, 27, 0.658);
     grid-column: 5/20;
     grid-row: 1/26;
     border-radius: 20px;
     padding-left: 20px ;
     padding-right: 20px;
     padding-top: 20px;
     margin-left: 385px;
     height: 850px;
     width: 1092px;
     
     
}
#in3{
     background-color: rgba(27, 27, 27, 0.658);
     grid-column: 1/5;
     grid-row: 3/9;
     border-radius: 20px;
     color: rgb(240, 248, 255, 0.6);
     font-size: 25px;
     padding-left: 20px;
     padding-top: 20px;
     display: grid;
     row-gap: 10px;
     column-gap: 10px; 
     padding-right: 20px; 
     grid-template-rows: 54.15px 54.15px 54.15px 54.15px 54.15px 54.15px 54.15px 54.15px;
     height: 595px;
     position: fixed;
     width: 408px;
     top: 175px;
     left: 7px;
}
#list1{
     list-style-type: none;
}
#homeicon{
     color: rgb(240, 248, 255, 0.6);
}

#searchicon{
     color: rgb(240, 248, 255, 0.6);
}
#homesearch{
    border-radius: 10px;
    border: none;
    color: rgb(240, 248, 255, 0.6);
    background-color: rgba(27, 27, 27, 0);
}
#homesearch:hover{
    color: aliceblue;
}
#homesearch:hover #homeicon{
    color: aliceblue;
}
#homesearch:hover #searchicon{
    color: aliceblue;
}
.inin3{
    position: relative;
    border-radius: 20px;
    background-color: rgb(32, 31, 31);
}
#inin31{
    grid-row: 1/2;
}
#inin32{
    padding-top: 20px;
    padding-left: 20px;
    grid-row: 2/5;
}
#inin33{
    padding-top: 20px;
    padding-left: 20px;
    grid-row: 5/8;   
}
#btnl1{
    border-radius: 20px;
    font-weight: 500;
}
#btnl2{
    border-radius: 20px;
    font-weight: 500;
}
.textleft{
    color: rgb(240, 248, 255, 0.6);
}
#plus{
    
    margin-left: 120px;
}
#arrow{
    margin-left: 50px;
}
#flex{
    display: flex;
}
#flex2{
    display: flex;
    justify-content: space-between;
}
#code{
    padding-left: 10px;
    font-size: 50px;
    color: aliceblue;
}
#lightbtn{
    border-radius: 20px;
}
#darkbtn{
    background-color: black;
    border-radius: 20px;
}
#buttons{
    font-size: 35px;
    color: aliceblue;
}
#recent{
    color: aliceblue;
}
.card{
    color: aliceblue;
    background-color: rgb(23, 23, 23);
    border-color: aliceblue;
    border-top: 16px solid goldenrod;
    animation: spin 6s linear infinite;
    border-style: none;
    border-radius: 50%;
    box-shadow: 1px 1px 40px 1px rgb(255, 255, 255);
}
@keyframes spin{
    0%{
        /*Setrotationto0degrees*/
        transform: rotate(0deg);
      }
    100%{
         /*Setrotationto360degrees*/
            transform: rotate(360deg);
        }
}
.card:hover{
    background-color: rgb(27, 27, 27);
}
#textcard{
    color: rgb(240, 248, 255, 0.6);
}
#trending{
    color: aliceblue;
}
#morecard{
    display: flex;
    justify-content: space-between;
    padding-left: 40px;
    padding-bottom: 20px;
}
#personbtn{
    font-size: 30px;
    background-color: rgb(214, 215, 216 , 0);
    border-style: none;
    border-radius: 40px;
}
#personbtn:hover{
    background-color: rgb(32, 31, 31);
}
#card1{
    display: flex;
    padding-left: 250px;
    padding-bottom: 20px;
    padding-top: 20px;
}
/* .img6{
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px; 
    border-radius: 20px;
} */
.bi-plus-lg:hover{
    color: aliceblue;
}
.bi-arrow-right:hover{
    color: aliceblue;
}
/* #play{
    width: 500px;  1470px  */
    /* height: 80px;
    position: fixed;
    background-color: black;
    top: 659px;
    border-radius: 20px;
    left: 505px;
} */
/* #shuffle{
    color: rgb(240, 248, 255, 0.6);
    font-size: 30px;
    margin-left: 70px; 585px */
    /* height: 50px;
} */
/* #shuffle:hover{
    color: aliceblue;
}
#playpause{
    color: aliceblue;
    font-size: 50px;
    margin-left: 30px;
}
#previous{
    color: rgb(240, 248, 255, 0.6);
    font-size: 30px;
    margin-left: 60px;
}
#previous:hover{
    color: aliceblue;
}
#next{
    color: rgb(240, 248, 255, 0.6);
    font-size: 30px;
    margin-left: 30px;
} */
/* #next:hover{
    color: aliceblue;
}
#repet{
    color: rgb(240, 248, 255, 0.6);
    font-size: 30px;
    margin-left: 60px;
}
#repet:hover{
    color: aliceblue;
}
#control{
    display: flex;
    
}
#shufflespan{
    padding-top: 17px;
}

#previousspan{
    padding-top:17px;
}
#nextspan{
    padding-top:17px;
}
#repetspan{
    padding-top:17px;
}
#line{
    display: flex;
} */
 #song{
    color: rgb(0,187,0);
 }
 #mbtn{
    background-color: rgba(240, 248, 255, 0);
    border-style: none;
    font-size: 70px;
 }
.bi-spotify{
    color: rgb(0,187,0);
}